

#bag{
  width: 200px;
  height: 500px;
  margin: 0 auto;
  background: url(/image/bag.png) center no-repeat;
  background-size: 80%;
}

#bag.burst{
  background: url(/image/bag-burst.png) center no-repeat;
  background-size: 80%;
}

#bag-health{
  width: 200px;
  border: 2px solid #000;
  margin: 0 auto 20px auto;
  background-color: crimson;
}

#bag-health div{
  height: 20px;
  background: green;
}

#controls{
  width: 218px;
  margin: 0 auto;
}

.win{
  color: green;
}

.loose{
  color: red;
}

.playagain::after{
  content: "Play Again";
}

.restart::after{
  content: "Restart";
}
