<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="first-vue-app">
      <!-- bag-image -->
      <div id="bag" v-bind:class="{burst:ended}">

      </div>
      <!-- bag-health -->
      <div id="bag-health">
        <div v-bind:style="{width: health + '%'}">
        </div>
      </div>
      <!-- game-controls -->
      <div id="controls">
        <span v-bind:class="{win:ended, loose:loose}">{{stat}}</span>
        <button type="button" name="button" v-on:click="restart" v-if="loose || ended" v-bind:class="{playagain:ended, restart:loose}"></button>
        <button type="button" name="button" v-on:click="punch" v-if="!loose && !ended">Punch</button>
        <button type="button" name="button" v-on:click="kick" v-if="!loose && !ended">Kick</button>
        <button type="button" name="button" v-on:click="jab" v-if="!loose && !ended">Jab</button>
      </div>
    </div>
    <script src="js/app.js"></script>
  </body>
</html>
